body {
    font-family: sans-serif;
    margin: 0; /* Remove default margin */
    background-size: cover;
    background-repeat: no-repeat;
}

body {
  background-image: url("background.png");
}

.side-container {
    display: flex;
    flex-direction: column;
}

.upper-side {
    width: 100%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    position: relative;
    z-index: 1;
    box-sizing: border-box;
}

.lower-side {
    width: 100%;
    padding: 20px;
    overflow-y: auto; /* Enable vertical scrolling if content is long */
    box-sizing: border-box;
}

.labels button, .labels a{
    margin-right: 10px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: #007bff;
}
.labels button:hover, .labels a:hover{
    text-decoration: underline;
}
.search-bar {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Bio page specific styles */
.bio-container {
    text-align: center;
    padding: 20px;
}

.bio-container img {
    display: block;
    margin: 20px auto;
    max-width: 200px;
    height: auto;
}
.bio-container a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}
.bio-container a:hover{
    text-decoration: underline;
}
